 .tempo {
      text-align: center;
      background: #fff;
      border-radius: 10px;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      margin-bottom: 20px;
    }

    .mapal {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    padding: 30px;
    border-radius: 30px;
    min-width: 45%;
    }

    .geo {
      background-color: white;
    border-radius: 16px;
    padding: 20px 30px;
   
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }

    .geo-info{
      display:flex;
      justify-content:space-around;
      margin:5%;
    }

    .mapap{
      display:flex;
      justify-content: center;
      align-items: center;
      min-width: 51%;
    }
